:root {
    --primary-color: #C8102E;
    --secondary-color: #333333;
    --thirdiary-color: #cccccc;

    --heading-font: 'Open Sans';
    --paragraph-font: 'Open Sans';

    --primary-font-color: #000000;
    --secondary-font-color: #7b7b7b;
    --thirdiary-font-color: #4c4c4c;
    --default-font-color: #ffffff;

    --main-green: #0a7823;
}

body {
    font-family: Roboto, helvetica, sans-serif;
    padding: 0 5rem;
}

header {
    background-color: var(--primary-color);
    padding: 2rem 3rem;
    color: var(--default-font-color);
    text-align: center;
    border-bottom: 1.5rem solid var(--thirdiary-color);
}

.hero img {
    width: 100%;
    height: auto;
}

.data {
    position: absolute;
    top: 25%;
    left: 7%;
    order: 2;
    max-width: 300px;
    background: #f7f8db;
    opacity: 0.8;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 0.3;
}

.data h2 {
    background: #06823f;
    color: var(--default-font-color);
    padding: 1.5rem;
    margin: 0 0 0 -2rem;
    opacity: 0.9;
    grid-column: 1/3;
}

.data .data-label-left {
    grid-column: 1/2;
    text-align: right;
    font-weight: bold;
}

.data .data-label-right {
    grid-column: 2/3;
    text-align: left;
}

.weather {
    position: absolute;
    bottom: 5%;
    right: 7%;
    order: 2;
    max-width: 300px;
    background: #f7f8db;
    opacity: 0.8;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 0.3;
}

.weather h2 {
    background: #06823f;
    color: var(--default-font-color);
    padding: 1.5rem;
    margin: 0 0 0 -2rem;
    opacity: 0.9;
    grid-column: 1/3;
}

.weather .weather-label-left {
    grid-column: 1/2;
    text-align: right;
    font-weight: bold;
}

.weather .weather-label-right {
    grid-column: 2/3;
    text-align: left;
}

footer {
    background-color: var(--primary-color);
    padding: 2rem 3rem;
    color: var(--default-font-color);
    text-align: center;
}