:root {
    --primary-color: #3C0A64;
    --secondary-color: #000000;
    --thirdiary-color: #ffffff;

    --primary-font-color: #000000;
    --secondary-font-color: #7b7b7b;
    --thirdiary-font-color: #4c4c4c;
    --default-font-color: #ffffff;
}

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    padding: 0 15% 0 15%;
    margin: 0;
}

/* HEADER */

header {
    background-color: var(--primary-color);
    align-items: center;
    padding: 0 1rem 0 2rem;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

header h1 {
    grid-column: 1/2;
    color: var(--default-font-color);
    order: 1;
    font-size: 1.5rem;
    margin: 0;
}

header nav {
    grid-column: 2/3;
    color: var(--default-font-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    order: 2;
}

header nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    display: block;
    padding: 1.2rem;
}

header nav a:hover {
    color: var(--thirdiary-color);
    background: var(--thirdiary-font-color);
}

/* FOOTER */

footer {
    background: var(--primary-color);
    color: var(--default-font-color);
    grid-row: 3/4;
    grid-column: 1/3;
    padding: 1rem;
}

footer P {
    padding: 0 2rem 0 2rem;
    order: 1;
    font-size: 1rem;
    text-align: center;
}